<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="row mt-4">
    <div class="col-8 offset-2">
        <div class="card p-3">
            <form th:action="@{/task/add(taskListId=${taskList.id})}" th:object="${task}" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" required>
                </div>
                <div class="mb-3">
                    <label for="deadline" class="form-label">Deadline</label>
                    <input type="datetime-local" class="form-control" id="deadline" th:field="*{deadline}">
                </div>
                <div class="mb-3">
                    <label for="members" class="form-label">Members</label>
                    <select multiple class="form-control" id="members" th:field="*{members}">
                        <option th:each="user : ${users}" th:value="${user.id}"
                                th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Add</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>